{% extends "./baza.html" %}
{% load static %}
{% block title %}Pagina principala{% endblock %}

{% block content %}
<h1>Pagina principala</h1>
<p>Proiectul consta intr-un site pentru un magazin de muzica veche (de la anii 80 pana in anii 2000). 
Utilizatorii acestui site pot consulta catalogul magazinului, pot achizitiona discuri de vinil, CD-uri, casete si multe altele. 
De asemenea, acestia pot lasa o recenzie albumului, EP-ului sau single-ului preferat si pot vedea recenziile celorlalti utilizatori.</p>
<p>parametru: {{ param }}</p>
<img src={% static 'ro_vinyl/imagini/starry.png' %} alt="imagine"/>
{% endblock %}
